*{
    font-family: "PT Serif", serif;
}

.gradient-bg {
    background: linear-gradient(300deg, #5B8FB9, #301E67, #03001C);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }


    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#page1 {
    display: grid;
    height: 25rem;
    grid: 20% 20% 20% 20% 10% 10%/ 10% 10% 10% 30% 20% 20%;
}

.heroes {
    display: inline-block;
    grid-area: 2 / 4;
    justify-content: center;
    align-content: center;
}

.hello {
    font-weight: bold;
    font-size: 2.5em;
}

.beginner {
    font-size: 1.5em;
}

#name {
    color: rgb(0, 186, 186);
    text-decoration-line: underline;
}

.beginner,
.hello {
    text-transform: capitalize;
    font-family: "PT Serif", serif;
    text-align: left;
    color: #B6EADA;
}

.profile-img {
    border-radius: 50%;
    border: #03001C solid;
    width: 200px;
    grid-area: 2 / 5;
}



/* SECTION 2 */

.page2-inline-block, .project-page {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
}

.item {
    padding: 20px;
    background-color: #5b8fb99c;
    border-radius: 5px;
}

.page2-inline-block li{
    padding: 0 1rem;
}

#page3 img{
    width: 100%;
}

@media screen and (max-width: 680px) {
    #page1 {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .hello {
        font-size: xx-large;
    }

    .beginner {
        font-size: large;
    }

    .profile-img {
        margin: 10px 0 10px 0;
        width: 100px;
    }


    /* section 2 */
    .page2-inline-block {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: start;
        align-content: start;
    }

    .item {
        text-align: left;
    }
}